* {
    font-family: "Lato", sans-serif;
    padding: 7px;
    box-sizing: border-box;
    margin: 0px;
    /* background-color: #edf2f8; */
  }
  .modal-content {
    background-color: #edf2f8;
    height: auto !important;
    overflow-y: auto;
  }
  
  /* .modal-content{
   
  } */
  .modal-body{
    overflow-y: auto;
  }
  
  .privacy-policy-hading {
    /* font-size: 2rem; */
    font-weight: 900;
    /* color: #337ab7; */
    line-height: 1.3;
  }
  span{
    color: red;
  }
  h5{
    color: #337ab7;
    /* margin: 0px;
    padding: 0px;
    font-size: 2rem; */
  }
  p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
  }
  h6 {
    color: #000000;
  }  