.first {
  /* display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  grid-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(3, 1fr); */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 0px;

  /* grid-template-columns: auto auto auto; */
}

/* .imgWrapperCentre{
    align-self: center;
    height: 170px;
} */
.card {
  border-radius: 10px;
  width: 250px;
  overflow: hidden;
  transition: all 200ms ease-out;
  margin: auto;
 
  /* height:315px; */
}

/* .card:hover { */

  /* -ms-transform: scale(1.05); IE 9 */
  /* -webkit-transform: scale(1.05); Safari 3-8 */
  /* transform: scale(1.10);  */
/* } */

.second {
  height: 100%;
}
.card-text {
  font: Bold 14px/14px Lato;
  /* letter-spacing: 0; */
  margin-top: 1rem;
  color: #000000;
}
.card-date {
  font: Bold 13px/14px Lato;
  margin-top: 1rem;
  /* letter-spacing: 0; */
  color: #024b99;
}
.card-title {
  font: Bold 18px/18px Lato;
  font-weight: bold;
  color: #000;
}
.card-p {
  font: italic 16px Lato;
  letter-spacing: 0;
  color: black;
}
.card-img-top {
  border-radius: 6px 6px 0px 0px;

  height: 170px;
  /* width:640px; */
}

@media only screen and (max-width: 800px) {
  .first {
    grid-template-columns: auto auto;
    grid-gap: 25px;
  }
  .card {
    width: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .first {
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
    grid-gap: 25px;
  }
  .card {
    width: 150px;
  }
}

@media only screen and (min-width: 1700px) {
  .first {
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
  }
  .card {
    width: 320px;
  }
}
